In [1]:
!pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\admin\anaconda3\lib\site-packages (4.0.34)

In [2]:
import pyodbc
drive = 'SQL Server'
server = 'ADMIN\SQLEXPRESS'
database = 'BikeStores'
username = ''
password = ''
str_sql = 'DRIVER={0};SERVER={1};DATABASE={2};UID={3};PWD={4}'.format(drive,server,database,username,password)

cnxn = pyodbc.connect(str_sql)
cursor = cnxn.cursor()

In [3]:
type(cnxn)

pyodbc.Connection

In [4]:
type(cursor)

pyodbc.Cursor

In [6]:
# Lưu dữ liệu theo kiểu hàng đợi khi khai triển sẽ không lấy lại dc dữ liệu đã ra
query = """SELECT first_name, last_name, email, phone
            FROM sales.staffs"""
cursor.execute(query)

for row in cursor:
    print(row)

('Fabiola', 'Jackson', 'fabiola.jackson@bikes.shop', '(831) 555-5554')
('Mireya', 'Copeland', 'mireya.copeland@bikes.shop', '(831) 555-5555')
('Genna', 'Serrano', 'genna.serrano@bikes.shop', '(831) 555-5556')
('Virgie', 'Wiggins', 'virgie.wiggins@bikes.shop', '(831) 555-5557')
('Jannette', 'David', 'jannette.david@bikes.shop', '(516) 379-4444')
('Marcelene', 'Boyer', 'marcelene.boyer@bikes.shop', '(516) 379-4445')
('Venita', 'Daniel', 'venita.daniel@bikes.shop', '(516) 379-4446')
('Kali', 'Vargas', 'kali.vargas@bikes.shop', '(972) 530-5555')
('Layla', 'Terrell', 'layla.terrell@bikes.shop', '(972) 530-5556')
('Bernardine', 'Houston', 'bernardine.houston@bikes.shop', '(972) 530-5557')

In [8]:
query = """SELECT first_name, last_name, email, phone
            FROM sales.staffs"""
cursor.execute(query)

list(cursor)

[('Fabiola', 'Jackson', 'fabiola.jackson@bikes.shop', '(831) 555-5554'),
 ('Mireya', 'Copeland', 'mireya.copeland@bikes.shop', '(831) 555-5555'),
 ('Genna', 'Serrano', 'genna.serrano@bikes.shop', '(831) 555-5556'),
 ('Virgie', 'Wiggins', 'virgie.wiggins@bikes.shop', '(831) 555-5557'),
 ('Jannette', 'David', 'jannette.david@bikes.shop', '(516) 379-4444'),
 ('Marcelene', 'Boyer', 'marcelene.boyer@bikes.shop', '(516) 379-4445'),
 ('Venita', 'Daniel', 'venita.daniel@bikes.shop', '(516) 379-4446'),
 ('Kali', 'Vargas', 'kali.vargas@bikes.shop', '(972) 530-5555'),
 ('Layla', 'Terrell', 'layla.terrell@bikes.shop', '(972) 530-5556'),
 ('Bernardine', 'Houston', 'bernardine.houston@bikes.shop', '(972) 530-5557')]

In [13]:
query = """SELECT first_name, last_name, email, phone
            FROM sales.staffs"""
cursor.execute(query)

In [15]:
cursor.fetchone() #lấy 1

('Mireya', 'Copeland', 'mireya.copeland@bikes.shop', '(831) 555-5555')

In [16]:
cursor.fetchall() #Lấy tất

[('Genna', 'Serrano', 'genna.serrano@bikes.shop', '(831) 555-5556'),
 ('Virgie', 'Wiggins', 'virgie.wiggins@bikes.shop', '(831) 555-5557'),
 ('Jannette', 'David', 'jannette.david@bikes.shop', '(516) 379-4444'),
 ('Marcelene', 'Boyer', 'marcelene.boyer@bikes.shop', '(516) 379-4445'),
 ('Venita', 'Daniel', 'venita.daniel@bikes.shop', '(516) 379-4446'),
 ('Kali', 'Vargas', 'kali.vargas@bikes.shop', '(972) 530-5555'),
 ('Layla', 'Terrell', 'layla.terrell@bikes.shop', '(972) 530-5556'),
 ('Bernardine', 'Houston', 'bernardine.houston@bikes.shop', '(972) 530-5557')]

In [17]:
cursor.execute("insert into nhan_vien(id_nv, hoten, phone, mail, note) \
                values('80266', N'Nguyên Thanh Nghị', '0988888888', 'phucnguyen@gmail.com', N'Giám đốc')")
cursor.commit()

ProgrammingError: ('42S02', "[42S02] [Microsoft][ODBC SQL Server Driver][SQL Server]Invalid object name 'nhan_vien'. (208) (SQLExecDirectW)")